<div class="container">
  <div class="header">
    <span>Наименование</span>
    <div class="controls">      
      <mat-icon>delete</mat-icon>
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet fuga eveniet
    ducimus autem, reiciendis maxime vero error quam libero natus est modi earum
    facilis doloremque eligendi. Quos aliquid expedita animi dolorum.
    Accusantium sapiente repellat asperiores maiores? Repudiandae ea molestias
    ut nesciunt corporis unde mollitia eos, magnam obcaecati reiciendis magni,
    voluptatibus, fugiat maxime qui eaque? Fuga sunt modi amet non ad sed
    consequatur, dolorem tempore illo consectetur magnam quis nemo odio natus
    maiores a placeat saepe quia molestiae iste. Expedita laudantium sequi omnis
    quas et reiciendis totam dolore placeat, temporibus architecto inventore
    tempora fugit cum vitae quis, veniam quaerat dicta? Possimus?
  </div>
</div>
